.board {
  margin: 0 auto;
  width: 640px;
  height: 640px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}

.square {
  box-shadow: /* Change all 1px to desired border width */
    2px 0 0 0 #444, 
    0 2px 0 0 #444, 
    2px 2px 0 0 #444,
    2px 0 0 0 #444 inset, 
    0 2px 0 0 #444 inset;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}

.square:nth-child(even) {
  background: #FFF;
  color: #000;
}

.square:nth-child(odd) {
  background: #D3D3D3;
  color: #000;
}

.cell {
  box-shadow: /* Change all 1px to desired border width */
    1px 0 0 0 #444, 
    0 1px 0 0 #444, 
    1px 1px 0 0 #444,
    1px 0 0 0 #444 inset, 
    0 1px 0 0 #444 inset;
  display: grid;
  justify-content: center;
  align-content: center;
}

.cell:hover {
  background-color: rgba(255,255,0,0.5);
}

.blank {
  text-decoration: underline;
  white-space: pre;
}
